body {
  background: #efefef !important;
}

.picto img {
  height: 100vh;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

h2 {
  font-size: 45px;
}

.text-area {
  padding: 40px 15px 0px 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.bio-text {
  margin-top: 8em;
}

p {
  padding-top: 10px;
}

.social-media-icons {
  font-size: 2rem;
  padding-top: 15px;
  letter-spacing: 0.25em;
}
